body {
    font-family: 'Hind Madurai', sans-serif;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 70%;
    max-width: 700px;
}

.left img {
    max-width: 100%;
    border-radius: 10px;
}

.right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skip-button {
    align-self: flex-end;
    margin-bottom: 10px;
    cursor: pointer;
}

.button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}


/*banner style*/
body {
    font-family: 'Hind Madurai', sans-serif;
    margin: 0;
}

.banner-ad {
    background-color: #f0f0f0;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

#closeBanner {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #888;
}
